<table>
  <tr>
    <th>Term</th>
    <th>Transliteration</th>
    <th>Definition</th>
  </tr>
  <%if @flashcards%>
    <% @flashcards.each do |card| %>
      <tr>
        <td><%=link_to card.front, flashcard_path(card) %></td>
        <td><%= card.transliteration%></td>
        <td><%= card.back%></td>
      </tr>
    <%end%>
  <%end%>
  <%= button_to "Add a new flashcard", flashcards_new_path, :action => 'new', :class => 'button', :method => :get %>
  <%= button_to "Study", flashcards_study_path, :action => 'study', :id => 1, :class => 'button', :method => :get %>
</div>
