<h1><%=@flashcard.front%></h1>


<p><%= "Transliteration: #{@flashcard.transliteration}" %></p>
<p><%= "Definition: #{@flashcard.back}" %></p>

<%= link_to 'Delete this flashcard', @flashcard, method: "delete"%></p>
<p><%=link_to 'Back', :back%></p>