<h1><%=@flashcard.front%></h1>


<p><%= "Transliteration: #{@flashcard.transliteration}" %></p>
<p><%= "Definition: #{@flashcard.back}" %></p>

<%= button_to 'Edit this flashcard', edit_flashcard_path(id: @flashcard.id), :class => 'button', :method => :get %>
<%= button_to 'Delete this flashcard', delete_flashcard_path(@flashcard), :class => 'button', method: "delete"%></p>
<p><%= button_to "Back", flashcards_index_path, :class => 'button', :method => :get %></p>