<h2>Study your flashcards!</h2>
<p class="word"><%= @flashcard_shuffled.front %></p>
<button class="button" onclick="showTransliteration()">Transliteration</button>
<p id="showTrans" style="display: none"><%= @flashcard_shuffled.transliteration %></p></br>
<button class="button" onclick="showDefinition()">Show Answer</button>
<p id="showDef" style="display: none"><%= @flashcard_shuffled.back %></p></br>
<button class="button"><%= link_to "Randomise", flashcards_study_path %></button>
<p><%= link_to "Back", flashcards_index_path %></p>